In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import pingouin as pg

/opt/miniconda3/envs/databs/lib/python3.8/site-packages/outdated/utils.py:14: OutdatedPackageWarning: The package pingouin is out of date. Your version is 0.3.6, the latest is 0.4.0.
Set the environment variable OUTDATED_IGNORE=1 to disable these warnings.
  return warn(
/opt/miniconda3/envs/databs/lib/python3.8/site-packages/outdated/utils.py:14: OutdatedPackageWarning: The package outdated is out of date. Your version is 0.2.0, the latest is 0.2.1.
Set the environment variable OUTDATED_IGNORE=1 to disable these warnings.
  return warn(

In [2]:
spines = pd.read_csv('/Users/labc02/Documents/PDCB_data/Morphometry/Spine_Count.csv')

In [4]:
sp_TE = spines[spines['Order'] < 3]
sp_normal = spines[spines['Order'] == 3]

In [9]:
spines.columns

Index(['ID', 'Genotype', 'Sample', 'Order', 'Lenght', 'Spines'], dtype='object')

In [7]:
sp_TE.groupby(['Genotype'])['ID'].count()

Genotype
KO    12
WT    15
Name: ID, dtype: int64

In [8]:
sp_normal.groupby(['Genotype'])['ID'].count()

Genotype
KO    21
WT    20
Name: ID, dtype: int64

In [10]:
sp_TE['Density'] = sp_TE['Spines']/sp_TE['Lenght'] * 20

<ipython-input-10-088b22520e60>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sp_TE['Density'] = sp_TE['Spines']/sp_TE['Lenght'] * 20

In [11]:
sns.

          ID Genotype  Sample  Order  Lenght  Spines    Density
0   230819_1       KO       1      1  117.78     131  22.244863
5   230819_2       KO       1      1   64.37      57  17.710113
10  250719_1       KO       1      1   49.47      79  31.938549
11  250719_2       KO       1      2   35.41      51  28.805422
12  250719_3       KO       1      2   75.22      62  16.484977
16  250719_4       KO       1      1   47.14      71  30.123038
17  250719_5       KO       1      2   34.56      61  35.300926
18  250719_6       KO       1      2   30.68      35  22.816167
21     50919       WT       1      1   88.20      77  17.460317
25     50919       WT       2      1   77.03      86  22.328963
26    111019       WT       1      1   94.45     111  23.504500
27    251019       KO       1      1   64.35     116  36.052836
28    251019       KO       1      2   34.19      43  25.153554
29    251019       KO       2      2   26.47      48  36.267473
34    300819       WT       1      1   43.00      43  20.000000
35    300819       WT       2      1   32.00      39  24.375000
36    300819       WT       3      1   37.35      74  39.625167
37    300819       WT       1      2   13.49      13  19.273536
42    300819       WT       4      1   46.45      48  20.667384
43    300819       WT       5      1   45.40      83  36.563877
44    300819       WT       6      1   34.69      31  17.872586
45    281119       WT       1      1   63.00      93  29.523810
50    301019       KO       1      1   76.75      93  24.234528
55     41219       WT       1      1   41.52      61  29.383430
56     41219       WT       2      1   69.95      93  26.590422
61    291119       WT       1      1   41.94      41  19.551741
62    291119       WT       2      1   64.19      55  17.136626